@font-face {
    font-family: Mounument;
    src: url(./Assets/MonumentExtended-Regular.otf);
  }
  @font-face {
    font-family: Marry;
    src: url(./Assets/MonumentExtended-Ultrabold.otf);
  }

  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mounument;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  html {
    background-color: #000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    color: white;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .d-flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    justify-content: start;
    gap: 2vw;
    z-index: 9;
    color: #fff;
  }
  
  .text-loader {
    color: #fff;
    font-size: 1.5vw;
    /* font-family: Mounument; */
    opacity: 0;
  }
  .text-23 {
    margin-left: 8vw;
  }
  .text-63 {
    margin-left: 20vw;
  }
  .text-97 {
    margin-left: 16vw;
  }
  .text-100 {
    margin-left: 3vw;
  }
  .fixed-p {
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: rgb(211, 130, 130); */
  }
  .flex-p-content {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }
  .centr-p , .centr-p2 {
    text-align: center;
    z-index: 999;
    font-size: 2.2rem;
    color: #d8d4d4;
  }
  .nav {
    margin-top: 3vh;
    gap: 3vw;
  }
  .nav a {
    text-decoration: none;
    color: rgb(220, 216, 216);
    font-size: 1rem;
  }
  .section {
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    font-size: 3rem;
  }
  .heading-text {
    font-size: 13rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    z-index: 999;
  }
  #one-text {
    position: absolute;
    top: 120%;
  }
  .section-img {
    position: relative;
    margin-left: 35%;
    width: 30%;
    height: 80vh;
    background-position: center;
    background-size: 42%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 999;
    cursor: pointer;
  }
  #img-one {
    background-image: url(Assets/one.jpg);
  }
  #img-two {
    background-image: url(Assets/two.jpg);
  }
  #img-three {
    background-image: url(Assets/three.jpg);
  }
  #img-four {
    background-image: url(Assets/four.jpg);
  }
  #img-five {
    background-image: url(Assets/five.jpg);
  }
  #img-six {
    background-image: url(Assets/six.jpg);
  }

  .section-2 {
    width: 100%;
    height: 100vh;

 }
 